@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .map-geojson {
    @apply fill-chkogreen stroke-chkogreen stroke-[5];

    &.chko-inactive {
      @apply fill-[#79ad8f] stroke-[#79ad8f];
    }
  }
  [data-mapmode="detail"] .map-geojson {
    fill: none;
  }

  .map-search {
    @apply !w-full relative rounded-full py-2 px-3 pl-8 border-2 border-solid border-chkosearch outline-none focus:border-[#808080] popisky-13;
  }

  .map-search-decorator {
    @apply absolute top-0 left-0 z-10 p-3 pointer-events-none;
  }

  [data-mapmode="detail"] .map-zones {
    @apply block;
  }

  .map-zones {
    @apply hidden;
  }

  .map-marker {
    @apply items-center gap-1 whitespace-nowrap text-black;
    width: initial !important;
    height: initial !important;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,
      0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
  }

  .map-obec-marker {
    @apply hidden;

    &::before {
      @apply block w-6 h-6 rounded-full bg-black;
      content: "";
    }

    &.map-marker-I::before {
      @apply bg-chkored;
    }
    &.map-marker-II::before {
      @apply bg-chkoorange;
    }
    &.map-marker-III::before {
      @apply bg-chkoyellow;
    }
    &.map-marker-IV::before {
      @apply bg-chkogreen;
    }

    [data-mapmode="detail"] & {
      @apply flex;
    }
  }

  .map-chko-marker {
    @apply text-[16px];

    [data-mapmode="detail"] & {
      @apply hidden;
    }
  }
}

.leaflet-control-scale-line {
  background: none;
  text-align: right;
  border-left: none;
  border-color: black;
  text-shadow: none;
  margin: 1rem;
}

.active-obec .leaflet-control-scale-line {
  margin-bottom: 85px;
  
  @screen lg {
    margin-bottom: 150px;
  }
}

[data-tilelayer="photo"] .leaflet-control-scale-line {
  border-color: white;
  color: white;
}

.leaflet-container {
  background: transparent;
  outline: 0;
}
